.navbar-custom {
  background-color: rgb(93, 118, 93);
}

.active {
  font-weight: bold;
  text-decoration: underline;
}

.navbar-brand {
  font-weight: bolder;
}

.bg-image {
  background-image: url(./images/walkingTrail.jpg);
}

.bg-custom {
  background-color: hsla(51, 54%, 75%, 0.9);
}
